[defaults]
inventory = inventory/hosts.yml
roles_path = roles
stdout_callback = default
bin_ansible_callbacks = True
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
