Host {{ edge_push_host_alias }}
    HostName {{ edge_push_host_name }}
    User {{ edge_push_remote_user }}
    IdentityFile {{ edge_push_identity_file }}
    IdentitiesOnly yes
    StrictHostKeyChecking {{ edge_push_strict_host_key_checking }}
